- title @title, false

.profile
  .main
    %h1
      = gravatar_for @user
      = @user.name
    %ul.microposts
      - if !@user.microposts.empty?
        = render @microposts
        = will_paginate @microposts
      - else
        %li
          %span.content No microposts
  .sidebar{:class => "round"}
    %ul
      %li
        %strong Name
        = @user.name
      %li
        %strong URL
        = link_to user_path(@user), @user
      %li
        %strong Microposts
        = @user.microposts.count
