- title @title, false

.profile
  .main
    %h1= @title

    - unless @users.empty?
      %ul.users= render @users
      = will_paginate @users

  .sidebar.round
    %ul
      %li
        %strong Name
        = @user.name
      %li
        %strong URL
        = link_to user_path(@user), @user
      %li
        %strong Microposts
        = @user.microposts.count
    = render 'shared/stats'
    - unless @users.empty?
      - @users.each do |user|
        = link_to gravatar_for(user, :size => 30), user
